.login-form {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.login-form__col {
  text-align: left;
}
.login-form__failed-text {
  color: red;
}
.form-control.login-form__failed-text {
  color: red !important;
}
