.tasks-page {
  overflow-y: scroll;
}
.tasks-page__filter-row form {
  display: flex;
  justify-content: flex-start;
}
.tasks-page__filter-row__add-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.tasks-page__filter-row-inner {
  text-align: left;
  margin-left: 5px;
}
.tasks-page__filter-row-inner-display {
  display: flex;
  justify-content: space-evenly;
}
.tasks-page__filter-row-inner div {
  margin: 0 5px;
}
.tasks-page__filter-row-inner-display__status-form {
  display: flex;
}
.tasks-page__tasks-row {}
.tasks-page__tasks-row__single-task {
}
.tasks-page__tasks-row__single-task.awaited {
  background-color: var(--awaited-color);
}
.tasks-page__tasks-row__single-task.completed {
  background-color: var(--completed-color);
}
.tasks-page__tasks-row__single-task.in-progress {
  background-color: var(--progress-color);
}
