/* Bootstrap forms & modals */
.modal-header,
.modal-body,
.modal-footer {
  background-color: hsla(var(--mint-cream), 1) !important;
}
input.form-control,
select.form-control,
textarea.form-control {
  background-color: hsla(var(--honeydew), 0.6) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px !important;
      border: none !important;
}
input.form-control.is-invalid,
select.form-control.is-invalid,
textarea.form-control.is-invalid,
.invalid-feedback {
  border-color: hsla(var(--pale-sunbeam), 1);
}
.form-control:focus,
.form-control:focus-visible,
.form-control option:focus,
.form-control option:focus-visible {
  background-color: hsla(var(--honeydew), 1) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.2) 0px 0px 1px 0px !important;
  outline: none !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
input.form-control:focus::placeholder,
textarea.form-control:focus::placeholder {
  color: transparent;
}
input#search.form-control:focus {
  background-color: hsla(var(--aero-blue), 1) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}
form select#rewards.form-control option.disabled {
  color: #c7c7c7 !important;
}
/* .form-control,
  .form-control:focus,
  .form-control option:focus,
  #first_name, #first_name:focus,
  #last_name, #last_name:focus,
  #username, #username:focus,
  #email, #email:focus,
  #password, #password:focus,
  #bio, #bio:focus,
  #title, #title:focus,
  #value, #value:focus,
  #category, #category:focus,
  #desc, #desc:focus,
  #deadline, #deadline:focus,
  #dropdown.form-control
  #cat, #cat:focus,
  #status, #status:focus,
  #val, #val:focus,
  #type, #type:focus,
  #due, #due:focus,
  #title:focus-visible, 
  {
  border-radius: 0 !important;
  border: 1px solid #e5e9ee;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
} */
