.dashboard {
 border: 1px solid gold;
  min-height: 100vh;
}
.dashboard__left-col {
  min-height: 90vh;
}
.dashboard__right-col {
  min-height: 90vh;
}
.dashboard__profile-card {
 border: 1px solid gold;
}
.dashboard__tasks-card {
 border: 1px solid gold;
}
.dashboard__tasks-card__tasks {
  display: block;
}
.dashboard__calendar-card {
 border: 1px solid gold;
}
.dashboard__search-bar {
  border: 1px solid gold;
  display: flex;
  justify-content: space-between;
}
.dashboard__activities {
 border: 1px solid gold;
}
.dashboard__tips-card {
 border: 1px solid gold;
}
.dashboard__alerts-card {
 border: 1px solid gold;
}
.dashboard__challenge-card {
 border: 1px solid gold;
}
