.dashboard {
 border: 1px solid gold;
 min-height: 100vh;
 max-height: 100vh;
}
.dashboard__left-col {
  min-height: 90vh;
  max-height: 90vh;
}
.dashboard__right-col {
  min-height: 90vh;
  max-height: 90vh;
}
.dashboard__profile-card {
 border: 1px solid gold;
}
.dashboard__profile-card__img {
  width: 50%;
  border-radius: 50%;
}
.dashboard__profile-card__username{
}
.dashboard__profile-card__level {
  background-color: gold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.dashboard__tasks-card {
 border: 1px solid gold;
}
.dashboard__tasks-card__tasks {
  display: flex;
}
.dashboard__calendar-card {
 border: 1px solid gold;
}
.dashboard__search-bar {
  border: 1px solid gold;
  display: flex;
  justify-content: space-between;
}
.dashboard__activities {
 border: 1px solid gold;
 overflow-y: scroll;
 max-height: 70vh;
}
.dashboard__tips-card {
 border: 1px solid gold;
}
.dashboard__alerts-card {
 border: 1px solid gold;
}
.dashboard__challenge-card {
 border: 1px solid gold;
}
