/* .tasks-page {
} */
.tasks-page__filter-row form {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tasks-page__list {
  margin: 8px;
  border: 1px solid var(--sidebar-bg);
  border-radius: 2px;
  background-color: white;
}
/* .tasks-page__list#awaited {
  background-color: white;
}
.tasks-page__list#in_progress {
  background-color: white;
}
.tasks-page__list#completed {
  background-color: white;
} */
.tasks-page__list-title {
  padding: 8px;
  font-weight: 700;
}
.tasks-page__list-task {
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
}
/* .tasks-page__list-task.urgent {
}
.tasks-page__list-task.awaited {
}
.tasks-page__list-task.in_progress {
}
.tasks-page__list-task.completed {
}
.tasks-page__list-task.overdue {
} */
.tasks-page__list-task div {
  text-align: left;
}
.tasks-page__list-task__drag-handle {
  margin-top: 5px;
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}
.dnd-placeholder {
  font-size: 1px;
  color: white;
}
