.main-side-bar {
  background-color: var(--sidebar-bg);
  min-height: 100vh;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
}
.main-side-bar__theme {
}
/* branding */
.main-side-bar__branding {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.main-side-bar__branding img {
  margin: 0;
}
.main-side-bar__branding span {
  text-transform: uppercase;
}
.main-side-bar__profile {
}
.main-side-bar__profile-img {
  max-width: 60%;
  border-radius: 50%;
}
.main-side-bar__links a {
  display: block;
}
.main-side-bar__settings {
}
.main-side-bar__credits {
  background-color: thistle;
}
