.main-side-bar {
  background-color: var(--sidebar-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-side-bar__theme {
}
/* branding */
.main-side-bar__branding div{
  padding: 0;
  margin: 0;
}
.main-side-bar__branding__cake-icon {
  font-size: 6em;
}
.main-side-bar__branding__cake-name {
  line-height: 0.8em;
}
.main-side-bar__profile {
}
.main-side-bar__profile-img {
  max-width: 60%;
  border-radius: 50%;
}
.main-side-bar__links a {
  display: block;
}
.main-side-bar__settings {
}
