.main-side-bar {
  color: var(--sidebar-text);
  display: flex;
  padding: 0 10px;
  flex-direction: column;
}
.main-side-bar a,
.main-side-bar .btn-link {
  color: var(--aero-blue) !important;
  font-weight: 500;
}
.main-side-bar a:hover,
.btn.btn-link:hover {
  color: var(--trebor-mint);
}
.main-side-bar {
  text-align: right;
}
.main-side-bar__links .badge {
  font-size: 0.7em;
}
.main-side-bar__links a {
  display: block;
}
.main-side-bar__branding,
.main-side-bar__branding-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.main-side-bar__branding,
.main-side-bar__links,
.main-side-bar__branding-admin,
.main-side-bar__links-admin,
.main-side-bar__logout {
  margin: 0;
}
.main-side-bar__branding svg,
.main-side-bar__branding-admin svg {
  font-size: 75px;
  margin: 0;
}
.main-side-bar__blurb,
.main-side-bar__updates,
.main-side-bar__links {
  border-bottom: 1px solid var(--sidebar-text);
}
.main-side-bar__blurb {
  color: var(--trebor-mint);
}
.main-side-bar__updates {
  background-color: hsla(var(--black), 1);
  min-height: 60px;
}
.xp {
  padding-left: 5px;
  max-height: 25px;
}
