/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
:root {
  --main-bg: #ccc;
  --sidebar-bg: #747474;
  --main-text: #041008;
  --sidebar-text: #ccc;
  --button-bg: #b4b4b4;
  --button-alt: #5b5b5b;
  --code-red: rgba(255, 0, 0, 0.8);
  --code-yellow: rgba(255, 255, 0, 0.8);
  --code-blue: rgba(0, 0, 255, 0.8);
}
#theme-light {
  --main-bg: #ccc;
  --sidebar-bg: #747474;
  --main-text: #041008;
  --sidebar-text: #ccc;
  --button-bg: #b4b4b4;
  --button-alt: #5b5b5b;
  --code-red: rgba(255, 0, 0, 0.8);
  --code-yellow: rgba(255, 255, 0, 0.8);
  --code-blue: rgba(0, 0, 255, 0.8);
}
#theme-dark {
  --main-bg: #05386b;
  --sidebar-bg: #379683;
  --main-text: #edf5e1;
}
.App {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
/* universal styling */
.text-bigger {
  font-size: 1.2rem;
}
.text-tinycaps {
  font-size: 0.7rem;
  font-weight: 700;
  color: gray;
  text-transform: uppercase;
}
.cursor-point:hover {
  cursor: pointer;
}
.xp {
  padding-left: 5px;
  max-height: 25px;
}
.opaquish {
  opacity: 0.5;
}
.red {
  color: red;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.small-button {
  width: 20px;
  height: 20px;
}
.btn-light {
  background-color: var(--button-bg) !important;
  border: var(--button-bg) !important;
}
.btn-light:hover, .btn-light:focus, .btn-light:focus-visible {
  background-color: var(--button-alt) !important;
  color: var(--sidebar-text) !important;
  box-shadow: none !important;
}
