/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
:root {
  --main-bg: #f6e5ff;
  --sidebar-bg: #98ffa9;
  --awaited-color: rgba(255, 0, 0, 0.1);
  --progress-color: rgba(255, 165, 0, 0.1);
  --completed-color: rgba(0, 128, 0, 0.1);
}
.App {
  background-color: var(--main-bg);
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
/* universal styling */
.text-bigger {
  font-size: 1.2rem;
}
.text-tinycaps {
  font-size: 0.7rem;
  font-weight: 700;
  color: gray;
  text-transform: uppercase;
}
.cursor-point:hover {
  cursor: pointer;
}
.xp {
  padding-left: 5px;
  max-height: 25px;
}
.opaquish {
  opacity: 0.5;
}
.red {
  color: red;
  font-weight: 700;
}
