/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
:root {
  --main-bg: #8ee4af;
  --sidebar-bg: #379683;
  --main-text: #05386b;
  --sidebar-text: #edf5e1;
  --button-bg: #5cd895;
  --code-red: red;
  --code-blue: blue;
}
#theme-light {
  --main-bg: #8ee4af;
  --sidebar-bg: #379683;
  --main-text: #05386b;
  --sidebar-text: #edf5e1;
  --button-bg: #5cd895;
  --code-red: red;
  --code-blue: blue;
}
#theme-dark {
  --main-bg: #05386b;
  --sidebar-bg: #379683;
  --main-text: #edf5e1;
}
.App {
  /* background-color: var(--main-bg);
  color: var(--main-text); */
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
/* universal styling */
.text-bigger {
  font-size: 1.2rem;
}
.text-tinycaps {
  font-size: 0.7rem;
  font-weight: 700;
  color: gray;
  text-transform: uppercase;
}
.cursor-point:hover {
  cursor: pointer;
}
.xp {
  padding-left: 5px;
  max-height: 25px;
}
.opaquish {
  opacity: 0.5;
}
.red {
  color: red;
  font-weight: 700;
}
.small-button {
  width: 20px;
  height: 20px;
}
