.admin-page {
  min-width: 100vw;
  min-height: 100vh;
}
.admin-page #denied {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.admin-page__form {
  max-width: 100vw;
  background-color: hsla(var(--mint-cream), 1);
  display: flex;
  align-items: center;
  vertical-align: middle;
}
/* .admin-page__form-header {
} */
.admin-page__form-search {
  display: flex;
  justify-content: space-between;
}
.admin-page__admin-table {
  overflow: scroll;
}
.admin-page__table__td {
  max-width: 100px;
}
.admin-page__table__td div.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-page__table__img {
  max-height: 25px;
}
