.tasks-page {
}
.tasks-page__filter-row form {
  display: flex;
  justify-content: flex-start;
}
.tasks-page__list {
  margin: 8px;
  border: 1px solid var(--sidebar-bg);
  border-radius: 2px;
  background-color: inherit;
}
.tasks-page__list#awaited {
  background-color: white;
}
.tasks-page__list#in_progress {
  background-color: white;
}
.tasks-page__list#completed {
  background-color: white;
}
.tasks-page__list-title {
  padding: 8px;
  font-weight: 700;
}
.tasks-page__list-task {
  padding: 8px;
  border: 1px solid var(--sidebar-bg);
  border-radius: 2px;
  margin-bottom: 8px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
}
.tasks-page__list-task.urgent {
  color: var(--code-red);
}
.tasks-page__list-task.awaited {
  background-color: rgba(255, 192, 203, 0.2);
}
.tasks-page__list-task.in_progress {
  background-color: rgba(255, 255, 0, 0.2);
}
.tasks-page__list-task.completed {
  color: var(--button-bg);
}
.tasks-page__list-task div {
  text-align: left;
}
.tasks-page__list-task__drag-handle {
  min-height: 20px;
  max-height: 20px;
  min-width: 20px;
  max-width: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
.tasks-page__list-task__title {
  font-weight: 600;
}
.tasks-page__list-task__title.urgent {
  color: var(--code-red);
}
